body {
    font-family: -apple-system,BlinkMacSystemFont,helvetica neue,helvetica,sans-serif;
    margin: 0;
}
a {
    text-decoration:none;
}
a:link {
    color: #0085FF;
}
a:visited {
    color: #0085FF;
}
a:hover {
    color: #0085FF;
    text-decoration:underline;
}
a:active {
    color: #0085FF;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #C5CFD9;
}
.versions {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #C5CFD9;
    border-radius: 8px;
}
.center-big {
    max-width: 600px;
}
.main {
    border-left: 1px solid #C5CFD9;
    border-right: 1px solid #C5CFD9;
    background-color: #FFFFFF;
    border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
        color: #FFFFFF;
    }
    hr {
        border-top: 1px solid #253342;
    }
    .versions {
        padding: 15px;
        border: 1px solid #253342;
    }
    .main {
        border-left: 1px solid #253342;
        border-right: 1px solid #253342;
        background-color: #000000;
    }
}
@media screen and (min-width: 0px) {
    .main {
        width: auto;
        border: 0;
    }
}
@media screen and (min-width: 800px) {
    .main {
        width: 598px;
        border-left: 1px solid #C5CFD9;
        border-right: 1px solid #C5CFD9;
    }
}
@media screen and (min-width: 800px) and (prefers-color-scheme: dark) {
    .main {
        width: 598px;
        border-left: 1px solid #253342;
        border-right: 1px solid #253342;
    }
}
